

@using Movies.HtmlHelpers

@model Movies.ViewModels.AudioBookListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("NEW Audio Book", "Create", "", new { type = "submit", @class = "btn btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Audio Book</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var r in @Model.AudioBooks)
        {
            <tr>

                <td> @Html.ActionLink(r.Name, "Edit", "Books", new { id = r.Id }, null)</td>
                <td>@r.Category</td>
                <td>@Html.ActionLink("Delete", "Delete", "Books", new { id = r.Id }, null)</td>
            </tr>

        }

    </tbody>



</table>
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("AdminList", new { page = x, category = Model.CurrentCategory }))
</div>
