

@using Movies.HtmlHelpers

@model Movies.ViewModels.AudioBookListViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Аудиокниги</h2>

<div>
    @Html.Action("BookMenu", "Nav")
</div>

@foreach (var p in @Model.AudioBooks)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>

            <span class="pull-right label label-primary">@p.Price.ToString("# руб")</span>
        </h3>
        <span class="lead">@p.Category</span>
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
</div>

